/*Universal Selector*/

* {
    box-sizing: border-box;
}


/*
Genral
*/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

#directions {
    color: grey;
    font-size: 2em;
    letter-spacing: .065em;
    font-weight: 200;
    border-bottom: 2px solid lightgray;
    padding-bottom: 10px;
}

#map {
    width: 75%;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 900px;
    border-bottom: 2px solid lightgrey;
    padding-top: 10px;
    text-align: center;
}

.main-header {
    height: 850px;
    padding-top: 160px;
    /*background-image: url('../img/mountains.jpg');
    /*background-image: radial-gradient(circle at top, #ffa949, firebrick);*/
    /*background-image: linear-gradient(#ffa949, firebrick);*/
    background: linear-gradient(lightskyblue, transparent 90%), lightskyblue url('../img/mariosc.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-header,
.title {
    text-align: center;
}

.primary-content {
    text-align: center;
    padding-bottom: 95px;
}

.secondary-content {
    padding-top: 80px;
    padding-bottom: 70px;
}

.primary-content,
.secondary-content {
    width: 75%;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 900px;
}

.t-border {
    border-top: 2px solid lightgrey;
}


/*ul li {
    margin-bottom: 5px;
}*/

ul,
ol {
    margin-left: 30px 0;
}

li {
    margin-bottom: 10px;
}

.arrow {
    width: 50px;
    margin-top: 150px;
}

img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.wildlife {
    /*padding-top: 100px;
    padding-right: 120px;
    padding-bottom: 100px;
    padding-bottom: 120px;*/
    padding: 18% 24%;
    /*border-width: 10px 20px;
    border-style: solid;
    border-color: #ffa949;*/
    border-top: 10px solid skyblue;
    margin: 105px 0 60px;
    background-image: url('../img/mariosc1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
    border-radius: 5px;
}

.callout {
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
}
.vs{
width: 150px;
	height:auto;
	
}

#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px skyblue;
    text-align: center;
}

p {
    font-size: 20px
}


/*
Headline Elements and P elements
*/

@font-face {
    font-family: cursive1;
    src: url("../fonts/BLESD___.otf");
}

.title {
    color: white;
    letter-spacing: .065em;
    font-weight: 200;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    font-family: 'cursive1', sans-serif;
    font-size: 3em;
}

h1 {
    letter-spacing: .065em;
    font-size: 11em;
    font-weight: 500;
    line-height: 1.3;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    margin: 11px 0 0;
    font-family: 'cursive1', sans-serif;
}

h2 {
    font-size: 53px;
    font-weight: normal;
    margin-bottom: .5em;
}

h3 {
    font-size: 20px;
    margin-bottom: 1.7em;
}

p {}


/*
Floats
*/

.resorts,
.tips {
    width: 46.5%;
}

.resorts {
    float: left;
}

.tips {
    float: right;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}


/*
Colors
*/

body {
    color: #878787;
}

.main-header {
    background-color: skyblue;
}

.wildlife {
    color: white;
    background-color: #434a52;
}

ul li {
    color: white;
}

h1 {
    color: white;
}

h3 {
    color: #4852c;
}


/*Psuedo Classes*/

a:link {
    color: #ffa949;
    text-decoration: none;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: forestgreen;
}

a:active {
    color: coral;
}

a:focus {
    color: lightskyblue;
}


/*
Media Queries
*/

@media (max-width: 1024px) {
    .primary-content,
    .secondary-content {
        width: 90%;
    }
    .wildlife {
        padding: 10% 12%;
        margin: 50px 0 20px;
    }
}

@media (max-width: 768px) {
    .primary-content,
    .secondary-content {
        width: 100%;
        padding: 20px;
        border-top: none;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    h1 {
        font-size: 5rem;
        line-height: 1.1;
    }
    .arrow {
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .resorts,
    .tips {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 3rem;
    }
}