/* -------------------------------- 

Primary style

-------------------------------- */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    color: #f3cb6d;
    background-color: #fff;
}

a {
    color: #444d65;
    text-decoration: none;
    text-align: center;
}

input,
textarea {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    border: none;
    margin: 0;
    border-radius: 0;
}

input[type=email]::-ms-clear {
    /* remove the big X on ie */
    display: none;
}

input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}


/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
}

.cd-container::after {
    clear: both;
    content: "";
    display: table;
}


/* -------------------------------- 

Main components 

-------------------------------- */

header {
    position: relative;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

header h1 {
    color: #444d65;
    font-size: 26px;
    font-size: 1.625rem;
    font-weight: 300;
}

@media only screen and (min-width: 768px) {
    header {
        height: 250px;
        line-height: 250px;
    }
    header h1 {
        font-size: 30px;
        font-size: 1.875rem;
    }
}


/* filter */

.cd-filter {
    text-align: center;
}

.cd-filter li {
    display: inline-block;
    margin: 0 .6em;
}

.cd-filter input[type=radio] {
    display: none;
}

.cd-filter label {
    display: block;
    cursor: pointer;
    padding: .6em;
    border-radius: 0.25em;
    color: rgba(68, 77, 101, 0.4);
}

.cd-filter input:checked + label {
    box-shadow: 0 0 0 1px rgba(68, 77, 101, 0.4);
    color: #444d65;
}


/* form */

.cd-form-wrapper {
    position: relative;
    margin: 4em auto;
}

@media only screen and (min-width: 768px) {
    .cd-form-wrapper {
        margin: 8em auto;
    }
}

.cd-form {
    position: relative;
    width: 100%;
    height: 100px;
    background: #f3cb6d;
}

@media only screen and (min-width: 768px) {
    .cd-form {
        height: 180px;
    }
}

.cd-form .cd-loading {
    /* loading bar */
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3%;
    width: 100%;
    background-color: #7f8ba9;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    visibility: hidden;
    -webkit-transition: -webkit-transform 3s;
    -moz-transition: -moz-transform 3s;
    transition: transform 3s;
    z-index: 3;
}

.no-csstransitions .cd-form .cd-loading {
    /* we use modernizr to detect old browser and hide the loading effect */
    display: none;
}

.cd-form.is-submitted .cd-loading {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.cd-label,
.cd-email,
.cd-submit {
    position: absolute;
}

.cd-label {
    color: #5a4107;
    left: 18px;
    top: 20%;
    text-transform: uppercase;
    font-size: 11px;
    font-size: 0.6875rem;
    font-weight: 700;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    z-index: 2;
}

.is-active .cd-label {
    opacity: 0;
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
}

@media only screen and (min-width: 768px) {
    .cd-label {
        left: 40px;
    }
}

.cd-email,
.cd-submit {
    width: 100%;
    bottom: 0;
}

.cd-email:focus,
.cd-submit:focus {
    outline: none;
}

.cd-email {
    top: 0;
    left: 0;
    height: 100%;
    background: transparent;
    padding-left: 18px;
    font-weight: 300;
    color: #444d65;
    -webkit-transition: height 0.3s, background-color 0.3s;
    -moz-transition: height 0.3s, background-color 0.3s;
    transition: height 0.3s, background-color 0.3s;
    z-index: 1;
}

.cd-email::-webkit-input-placeholder {
    color: #a0740d;
}

.cd-email::-moz-placeholder {
    color: #a0740d;
}

.cd-email:-moz-placeholder {
    color: #a0740d;
}

.cd-email:-ms-input-placeholder {
    color: #a0740d;
}

.is-active .cd-email {
    height: 50%;
}

.cd-email:focus {
    background-color: #f5d385;
}

@media only screen and (min-width: 768px) {
    .cd-email {
        padding-left: 40px;
        font-size: 24px;
        font-size: 1.5rem;
    }
}

.cd-submit {
    top: 50%;
    cursor: pointer;
    background-color: #444d65;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    /* hidden by default */
    display: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    z-index: 2;
    line-height: 50px;
}

.is-active .cd-submit {
    display: block;
    -webkit-animation: cd-bounce-in ease-out 0.4s;
    -moz-animation: cd-bounce-in ease-out 0.4s;
    animation: cd-bounce-in ease-out 0.4s;
}

.no-touch .cd-submit:hover,
.cd-submit:focus {
    background-color: #4e5974;
}

@media only screen and (min-width: 768px) {
    .cd-submit {
        line-height: 90px;
    }
}

@-webkit-keyframes cd-bounce-in {
    0% {
        top: 100%;
    }
    60% {
        top: 45%;
    }
    100% {
        top: 50%;
    }
}

@-moz-keyframes cd-bounce-in {
    0% {
        top: 100%;
    }
    60% {
        top: 45%;
    }
    100% {
        top: 50%;
    }
}

@keyframes cd-bounce-in {
    0% {
        top: 100%;
    }
    60% {
        top: 45%;
    }
    100% {
        top: 50%;
    }
}

.cd-response {
    position: absolute;
    bottom: 110%;
    left: 0;
    padding: 1.4em;
    color: #fff;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 3;
    /* hidden by default */
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: -webkit-transform 0.3s 0s, opacity 0.3s 0s, visibility 0s .3s;
    -moz-transition: -moz-transform 0.3s 0s, opacity 0.3s 0s, visibility 0s .3s;
    transition: transform 0.3s 0s, opacity 0.3s 0s, visibility 0s .3s;
}

.cd-response::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20px;
    /* create triangle in css */
    display: inline-block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
}

.cd-response.cd-response-error {
    background-color: #e36767;
}

.cd-response.cd-response-error::after {
    border-top-color: #e36767;
}

.cd-response.cd-response-notification {
    background-color: #7f8ba9;
}

.cd-response.cd-response-notification::after {
    border-top-color: #7f8ba9;
}

.cd-response.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s 0s, opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.3s 0s, opacity 0.3s 0s, visibility 0s 0s;
    transition: transform 0.3s 0s, opacity 0.3s 0s, visibility 0s 0s;
}

.cd-response-success {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: #92c195;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    visibility: hidden;
    -webkit-transition: -webkit-transform .3s 0s, visibility 0s .3s;
    -moz-transition: -moz-transform .3s 0s, visibility 0s .3s;
    transition: transform .3s 0s, visibility 0s .3s;
    z-index: 3;
}

.cd-response-success p {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0s;
    -moz-transition: opacity 0.3s 0s;
    transition: opacity 0.3s 0s;
}

.cd-response-success.slide-in {
    visibility: visible;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: -webkit-transform .3s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .3s 0s, visibility 0s 0s;
    transition: transform .3s 0s, visibility 0s 0s;
}

.cd-response-success.slide-in p {
    opacity: 1;
    -webkit-transition: opacity 0.3s 0.3s;
    -moz-transition: opacity 0.3s 0.3s;
    transition: opacity 0.3s 0.3s;
}